/* Container for the entire app */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 25px;
  text-align: center;
}

/* Container for the mode section */
.mode-container {
  margin-bottom: 20px;
  margin-top: 35px;
}

/* Styling for the mode text */
.mode-text {
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

/* Container for the buttons */
.buttons-container {
  display: flex;
  gap: 10px;
}

/* Styling for the buttons */
.mode-button {
  padding: 10px 20px;
  font-family: 'Georgia', serif;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

/* Hover effect for the buttons */
.mode-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 0;
}

.mode-button:hover::before {
  left: 0;
}

.mode-button:hover {
  color: #fff;
}

/* Ensuring the text is above the hover effect */
.mode-button span {
  position: relative;
  z-index: 1;
}

/* Styling for the selected button */
.mode-button.selected {
  background-color: #333;
  color: #fff;
}

/* Container for the quote text */
.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quote-text, .quote-image {
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  color: #333;
  margin: 0;
  opacity: 0;
  transition: opacity 2s;
}

.quote-text.show, .quote-image.show {
  opacity: 1;
}
.quote-text.hide {
  opacity: 0;
}

.quote-image {
  margin-top: 10px;
  border-radius: 12%;
  width: 75%;
  height: 90%;
}


/* progress indicator for user to know how many requests they have left  */
.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.progress-bar.danger {
  background-color: #f44336;
}

.progress-bar.warning {
  background-color: #ff9800;
}

.progress-bar {
  background-color: #4caf50;
}